<div class="window-container" [ngClass]="{'jurassic': currentTheme === 'jurassic world', 'skyscraper': currentTheme === 'skyscraper'}">
  <div id="window-banner">
    <!-- <div class="hide-chat">
      <fa-icon [icon]="faArrowAltCircleLeft"></fa-icon>
      <p>Hide</p>
    </div> -->
    <div class="logo">
      <img *ngIf="currentTheme === 'portl'" src="../../assets/img/portl-logo.png" alt="" srcset="">
      <img *ngIf="currentTheme === 'jurassic world'" src="../../assets/img/jurassic_world.png" alt="" srcset="">
      <img *ngIf="currentTheme === 'skyscraper'" src="../../assets/img/sky-logo.png" alt="" srcset="">
    </div>
    <!-- <div class="end-chat">
      <fa-icon [icon]="faTimesCircle"></fa-icon>
      <p>End Chat</p>
    </div> -->
  </div>
  <!-- <div id="brand-section">
    <div class="logo-container">
      <div class="logo-circle-border">
        <div class="logo-img-container">
          <img src="../../assets/img/bayside-tigers-logo.jpeg" alt="" class="logo-img">
          <div>
            <lottie-animation-view [options]="lottieConfig"></lottie-animation-view>
          </div>
        </div>
      </div>
    </div>
    <div class="brand-welcome-line">
      <div class="chat-icon">
        <fa-icon *ngIf="notMobileScreen" [icon]="faComment"></fa-icon>
      </div>
      <p>Welcome to the Tigers Den!</p>
    </div>
  </div> -->
  <div id="message-list">
    <div *ngFor="let message of messages">
      <a5-chat-bubble [messageContent]="message.message" [currentTheme]="currentTheme" [userMessage]="message.userMessage"
        [name]="message.name"></a5-chat-bubble>
    </div>
  </div>
  <div id="dialog-options">
    <!-- <div class="main-menu-button">
      <div class="main-menu-btn-title">
        <p>Anything else?</p>
      </div>
      <button value="main-menu-button" (click)="sendMail()">Menu</button>
    </div> -->
    <div class="bot-menu-options" [@bounceMenu]="bounceMenu" *ngIf="showBotOptions">
      <div class="bot-option-img" *ngIf="botOptionsImg">
        <img *ngIf="currentTheme === 'jurassic world'" src="../../assets/img/featurettes-header.png" alt="" srcset="">
      </div>
      <div class="bot-option-title" *ngIf="!botOptionsImg">
        <p>{{botOptionsTitle}}</p>
      </div>
      <div class="option-buttons-container">
        <button *ngFor="let option of botMenuOptions" value="{{option.value}}" (click)="chooseBotOption($event)">{{option.text}}</button>
        <button *ngIf="multipleCards" class="more-options-btn" (click)="setBotOptionPagination(currentResponseCardPosition, responseCards)"><span>
            More
          </span>
          <fa-icon [icon]="faArrowRight"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div id="message-submission">
    <div>
      <div #botMessageInput aria-labelledby="Jot something down" role="textbox" contenteditable="true" aria-multiline="true"
        id="user-message-input" (keyup.enter)="submitMessageToBot(userMessageInput)">
      </div>
      <!-- <input (keyup.enter)="submitMessageToBot(userMessageInput)" [(ngModel)]="userMessageInput" type="text" name="" id="user-message-input"
        placeholder="Type here..." autocomplete="off"> -->
      <!-- <fa-icon [ngClass]="{'recording': isRecording}" [icon]="faMicrophone" (click)="speakToBot()"></fa-icon> -->
      <!-- <emoji-mart [showPreview]="false" [exclude]="emojiExcludedCategories" *ngIf="emojiPickerShown" (emojiSelect)="selectedEmoji($event)"
        [custom]="customEmojis" [style]="{ position: 'absolute', bottom: '47px', right: '20px' }"></emoji-mart>
      <button (click)="toggleEmojiPicker()">
        <fa-icon [icon]="faGrin"></fa-icon>
      </button> -->
      <button type="submit" (click)="submitMessageToBot(userMessageInput)">Send</button>
    </div>
  </div>
</div>
<a5-alivepay-modal [showModal]="showAlivePayModal" (modalHidden)="modalState($event)"></a5-alivepay-modal>